.container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.menu {
  width: 200px;
  height: 100%;
  padding: 20px;
  background-color: #f1f1f1;
}

.chatbox {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.chatlog {
  height: 80%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: scroll;
}

.inputbox {
  display: flex;
  flex-direction: row;
}
.menu li {
  transition: 0.2s ease-out;
}

.menu li:hover {
  transform: translateX(5px);
}

input[type="text"] {
  flex: 1;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

button {
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #3e8e41;
}
